@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: rgba(51, 168, 219, 1);
    --color-linear: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
}

body {
    background-color: black;
}

p {
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-primary);
    letter-spacing: 4px;
    text-transform: uppercase;
}

section {
    margin: 100px auto;
}

/* ============ HEADER =============== */

.banner {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(./assets/images/banner.png);
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;

}

.banner-content {
    padding-top: 56px;
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;

    & h1 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2.5rem;
        background: var(--color-linear);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & p {
        font-size: 1.25rem;
        margin: 16px 0 24px;
    }

    & button {
        color: #31A8DD;
        padding: 19px 31px;
        border: 2px solid black;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 5px;
        background-color: transparent;
        margin: 1.5rem 0;
        cursor: pointer;
        border-image: var(--color-linear);
        border-image-slice: 10;
        border-radius: 30px;
    }
}

.logo {
    width: 268px;
    height: 268px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: auto;
    padding: 16px;
    margin-bottom: 16px;

    & img {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }
}

/* ================= MAIN =============== */

/* ================= SECTION 1 =============== */

#course-content {
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 4rem;

    & p {
        margin: 2rem 0;
    }
}

/* ================= SECTION 2 =============== */

.modules-list {
    margin: 24px 0;
}

.module {
    align-items: center;
    color: white;
    padding: 16px 127px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 50px;
    margin: 0 auto 24px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);

    & span {
        color: var(--color-primary);
    }
}

/* ================= SECTION 3 =============== */

#transform-world {
    background-image: url(./assets/images/woman-code.png);
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    padding: 200px;
    border-bottom: 1px solid #33A8DB80;

    & p {
        font-size: 2.5rem;
        font-weight: 900;
        max-width: 250px;
        color: white;
        text-transform: lowercase;
        filter: drop-shadow(3px 2px var(--color-primary));
    }
}

/* ================= SECTION 4 =============== */

#professional-challenges{
    margin: auto;
    width: 800px;
    text-align: center;

    & img {
        margin: 32px 0;
    }

    & P {
        margin-bottom: 100px;
    }
}

/* ================= FOOTER =============== */

footer{
    padding: 3.5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2));
    text-align: center;
    border-top: 1px solid #33A8DB80;

    & img {
        width: 300px;
    }
    & a {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: bold;
        
    }
}